body{
    background-color: skyblue;

}
h1{
    color: black;
    background-color: white;
}
#show_sketch{
    float: right;
}
p{
    padding-top: 20px;
    font-size: 25px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: Example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 150px;
}
@keyframes Example{
from{
    box-shadow: 1px 1px 38px gray;
}
to{
    box-shadow: 1px 1px 38px white;
}
}